<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>新增吸毒人员</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../css/mint-ui.css">
    <link rel="stylesheet" href="../../../css/main/form.css">
    <link rel="stylesheet" href="../../../css/population/population.css">
</head>

<body>
    <div id="list">
        <div id="header">
            <div class="arrow" @click="closeWin">
                <img src="../../../image/return.png" alt="">
            </div>
            <div class="zline"></div>
            {{title}}
            <div class="asubmit" @click="submitForm" id="pkh_add_su">提交</div>
        </div>
        <div class="container" v-cloak>
            <div class="pk_togger" style="margin-top: 70px;">

                <population-component personinfos="姓名:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="name" placeholder="请输入-必填" />
                    <!-- <span id="nameError" style="display:none">姓名格式不对</span> -->
                </population-component>

                <population-component personinfos="身份证号:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" @blur="checkidentity" v-bind:readonly="isClick" name="" v-model="numberId" placeholder="请输入-必填" />
                    <!-- <span v-blind:class="{active:isactive}">正确</span> -->
                    <!-- <span v-bind:class="{active:!isactive}">错误</span> -->
                </population-component>
                <!-- <check-component checkinfos="身份证号:" customclass="pk_mem_input_all">
                                  <input slot="element" type="text"@blur="identityf"  v-bind:readonly="isClick" name="" v-model="identity" placeholder="请输入-必填" />
                                </check-component> -->

                <population-component personinfos="曾用名:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="oldName" placeholder="请输入" />
                </population-component>

                <population-component personinfos="性别:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="sexf" v-model="sex" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="出生日期:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="datef" v-model="date" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="民族:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="nationf" v-model="nation" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="籍贯:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" name=""  v-model="placeOrigin" v-bind:readonly="isClick" placeholder="请输入" />
                </population-component>

                <population-component personinfos="婚姻状况:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="marryf" v-model="marry" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="政治面貌:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="politicalLandscapef" v-model="politicalLandscape" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="文化程度:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="educationf" v-model="education" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="职业类别:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="workCategoryf"  v-model="workCategory" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="宗教信仰:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="religionf" v-model="religiousBelief" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="职业:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="job" placeholder="请输入-必选" />
                </population-component>
                <population-component personinfos="服务处所:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="server" placeholder="请输入" />
                </population-component>
                <population-component personinfos="户籍地:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="domicile" placeholder="请输入-必填" />
                </population-component>
                <population-component personinfos="户籍详址:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="domicileAddress" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="现居地:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="address" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="手机号码:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" @blur="checkPhone" v-bind:readonly="isClick" name="" v-model="tel" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="现居详址:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="addressDetail" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="初次发现日期:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  @click="firstFindDatef" readonly="readonly" name="" v-model="firstFindDate" placeholder="请选择" />
                </population-component>

                <population-component personinfos="管控情况:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  @click="controlSituationf" readonly="readonly" name="" v-model="controlSituation" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="管控人姓名:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text"  name="" v-model="controller"  v-bind:readonly="isClick" placeholder="请输入-必选" />
                </population-component>

                <population-component personinfos="管控人联系方式:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="controllerTel" placeholder="请输入-必选" />
                </population-component>

                <population-component personinfos="帮扶情况:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="helpSituation" placeholder="请输入" />
                </population-component>

                <population-component personinfos="帮扶人姓名:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="helperName" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="帮扶人联系方式:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="helperTel" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="有无犯罪史:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" @click="crimeHistoryf" readonly="readonly" name="" v-model="crimeHistory" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="犯罪情况:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="crimeSituation" placeholder="请输入" />
                </population-component>

                <population-component personinfos="人员类别:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" @click="personTypef" readonly="readonly" name="" v-model="personType" placeholder="请选择" />
                </population-component>

                <population-component personinfos="吸毒原因:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  @click="drugofReasonf" name="" v-model="drugofReason" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="吸毒后果:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text"  name="" v-model="drugResult" v-bind:readonly="isClick" placeholder="请输入-必填" />
                </population-component>

                <population-component personinfos="其它需要说明的问题:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text"  name="" v-model="others" v-bind:readonly="isClick" placeholder="请输入" />
                </population-component>

                <population-component personinfos="适口类型:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="palatabilityTypef" v-model="palatabilityType" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="原罪名:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  @click="originalSinf"  name="" v-model="originalSin" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

                <population-component personinfos="关注程度:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  name="" @click="followDegreef" v-model="followDegree" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="关联地图:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text"  @click="goMap" name="" v-model="coordinate" readonly="readonly" placeholder="请选择-必选" />
                </population-component>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/vue.js"></script>
    <script type="text/javascript" src="../../../script/UICore.js"></script>
    <script type="text/javascript" src="../../../script/vueMixin.js"></script>
    <script type="text/javascript" src="../../../script/specialCrowd/drug/newDrug.js"></script>
</body>
<template id="personinfo">
  <div class="er_templ">
    <div class="er_templ_in">
      <div class="er_lable">{{personinfos}}</div>
        <div :class="myclass">
          <slot name="myele"></slot>
        </div>
    </div>
  </div>
</template>

</html>
