<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"
  />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>编辑帮扶记录</title>
  <link rel="stylesheet" href="../../script/cube-ui/cube.min.css">
  <link rel="stylesheet" href="../../css/main.css">
  <!-- <link rel="stylesheet" href="../../css/mint-ui.css"> -->
  <link rel="stylesheet" href="../../css/house/house.css">
  <link rel="stylesheet" href="../../css/upload.css">
</head>

<body>
  <div id="list" v-cloak>
    <div id="header">
      <div class="arrow" @click="closeWin">
        <img src="../../image/return.png" alt="">
      </div>
      <div class="zline"></div>
      <label>{{title}}</label>
      <div class="asubmit" @click="uploadAttach" id="pkh_add_su">提交</div>
    </div>
    <div class="container" v-cloak>
      <div class="pk_togger" style="margin-top: 70px;">
        <house-component hosetitle="网格员:" myclass="pk_mem_input_all">
          <input type="text" v-model="f.helper" v-bind:readonly="isClick"  placeholder="请输入" />
        </house-component>
        <div class="clear dynamic"></div>
        <house-component hosetitle="矫正走访地点:" myclass="pk_mem_input_all">
          <input type="text" v-model="f.place" name="" v-bind:readonly="isClick"  placeholder="请输入" />
        </house-component>
        <house-component hosetitle="矫正走访月份:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.time" @click="timef" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <!-- <cube-button @click="showMutiPicker" class="yearMonth">
            <div class="leftPalel">
              矫正走访月份:
            </div>
            <div class="bg_j pk_mem_input">
              <input type="text" v-model="f.time" name="" readonly="readonly" placeholder="请选择" />
            </div>
          </cube-button> -->
       
        <house-component hosetitle="随行人员:" myclass="pk_mem_input_all">
          <input type="text" v-model="f.followers" v-bind:readonly="isClick"  name="" placeholder="请输入"/>
        </house-component>
        <house-component hosetitle="有无按时提交思想报告:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.isSubmitReport" @click="isSubmitReportf" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="有无接受教育辅导:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.isReceiveGuidance" @click="isReceiveGuidancef" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="有无参加社区公益活动:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.isJoinActivity" @click="isJoinActivityf" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="有无按时报到:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.isRegisterOnTime" @click="isRegisterOnTimef" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="有无受到奖赏:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.isGetSpurs" @click="isGetSpursf" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="邻里评价:" myclass="bg_j pk_mem_input">
          <input type="text" v-model="f.neighborEval" @click="neighborEvalf" name="" readonly="readonly" placeholder="请选择"/>
        </house-component>
        <house-component hosetitle="综合评价:" myclass="pk_mem_input_all">
          <input type="text" v-model="f.overallEval"  name="" readonly="readonly" placeholder=""/>
        </house-component>
        <house-component hosetitle="其它现实表现:" myclass="pk_mem_input_all">
          <input type="textarea" name="" v-model="f.content" v-bind:readonly="isClick"  placeholder="请输入" />
        </house-component>
        <!-- <api-upload :imgarray="imgarray"></api-upload> -->
        <!--加载附件组件 start-->
        <api-upload :imgarray="imgarray" :flag="!editFlag" :icon="icon"></api-upload>
        <!--加载附件组件 end-->
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
  <script type="text/javascript" src="../../script/vueMixin.js"></script>
  <script type="text/javascript" src="../../script/UICore.js"></script>
  <script type="text/javascript" src="../../script/specialCrowd/correctPersonHelpRecordEdit.js"></script>
  <script src="../../script/cube-ui/cube.min.js"></script>
</body>
<template id="houseInfo">
  <div class="er_templ">
    <div class="er_templ_in">
      <div class="er_lable">{{hosetitle}}</div>
      <div :class="myclass">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

</html>
